body{
    background:#222;
    margin:0;
}

.card{
    width:90%;
    max-width:470px;
    background: linear-gradient(135deg,#00feba,#210f93);
    color:#fff;
    margin:100px auto 0;
    border-radius:20px;
    padding: 40px;
    text-align:center;
}
.search{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.search input{
    border:0;
    outline:0;
    background: #ebf3ff;
    color:#989393;
    padding:10px 25px;
    height:60px;
    border-radius: 30px;
    flex:1;
    margin-right:16px;
    font-size:18px;
}
.search button{
    border:0;
    outline:0;
    background: #ebfffc;
    border-radius:50%;
    width:60px;
    height:60px;
    cursor:pointer;
}
.search button img{
    width:16px;
}
.weather-icon{
     width:160px;
    margin:30px auto 10px;
    display:block;
    background: transparent;
}
.weather h1{
    font-size:80px;
    font-weight:500;
    margin:20px 0 10px;
}
.weather h2{
    font-size:40px;
    font-weight:400;
    margin:0;
}
.details{
    display:flex;
    justify-content:space-between;
    padding:0 10px;
    margin-top:30px;
}
.col{
     display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
    width:45%;
}
.col img{
    width:90px;
}
.humidity{
    font-size:18px;
    font-weight:600;
    margin-top: 20px;
}
.col p:last-child{
    font-size:14px;
    opacity:0.8;
}
.wind{
    font-size:18px;
    font-weight:600;
    margin-top:20px;
}
.weather{
    display:none;
}
.error{
    text-align:left;
    margin-left:10px;
    margin-top:10px;
    font-size:14px;
    display:none;
}
.card{
    box-shadow:0 20px 40px rgba(0,0,0,0.25);
}
